<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CredictCard.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
				<key>dateExpires</key>
				<string>2019/1/8</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Aspects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BlocksKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSONModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WHC_AutoLayoutKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8453D6F8BFA097814E5AB2DC319A40F47BEEC5AA</string>
						<key>dateExpires</key>
						<string>2019/1/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYCategories.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C27P4G356D</string>
						<key>name</key>
						<string>Guangzhou alliance Mdt InfoTech Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C27P4G356D.creditNoticeTest.com</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>C27P4G356D</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>CredictCard.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2a6fe17c-b3e1-42bf-b7a6-d697d661f59c</string>
				<key>name</key>
				<string>card_dis_PP</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C27P4G356D</string>
				<key>name</key>
				<string>Guangzhou alliance Mdt InfoTech Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
